html{
	height: 100%; /*外層高度100%*/
	margin: 0;
}

body{
	height: 100%; /*外層高度100%*/
	margin: 0;
	padding: 0;
	background-color: rgb(133, 204, 152, 0.2);
	font-size: 22px;
	overflow-x: hidden;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
.noto-serif tc-light {
	font-family: "Noto Serif TC", serif;
	font-weight: 300;
	font-style: normal;
}

h1, h2 {
	text-align: center;
	font-family: 'Noto Sans TC';
	font-size: 30px;
	color: rgb(40, 74, 46, 0.7);
}

p {
	text-align: left;
	font-family: "Noto Serif TC", serif;
	color: rgb(40, 74, 46, 0.7);
}

iframe {
    display: block;
    border-style:none;
}

header{
	margin:0 px;
}

header.sticky{
  margin:0 px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  color: black;
  text-align: center;
  }

.centered-container{
  transform: none;
  opacity: 1;
  display: flex;
  justify-content: left;
  align-content: center;
  flex-direction: row;
  margin-right: -10px;
  margin-left: 0px;
  background: rgb(133, 204, 152);
}
.circle {
	line-height: 0;		/* remove line-height */ 
	display: inline-block;	/* circle wraps image */
	margin: 5px;
  border: 5px solid rgba(200,200,200,0.4);
	border-radius: 50%;	/* relative value */
	/*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
	transition: linear 0.25s;
  height: 60px;
  width: 60px;
}

.circle img {
  border-radius: 50%;	/* relative value for adjustable image size */height: 60;
  
}

.circle:hover {
	transition: ease-out 0.2s;
  border: 4px solid rgba(0,0,0,0.2);
  -webkit-transition: ease-out 0.2s;
}
a.circle {
  color: transparent;
} /* IE fix: removes blue border */	
.item {
  width: 500px;
}

#navlist{
  float: right;
	padding-right: 0;
}

.wrapper {
  min-height: 100%; /*外層高度100%*/
  margin-bottom: -50px; /*隨footer高度需做調整*/
}
.content{
  padding-bottom: 50px; /*避免文字超出瀏覽器時，內容區塊不會和footer打架*/
}

.footer{
  height: 50;/*設定footer本身高度*/
  background-color: rgb(133, 204, 152);
}

a{
  text-decoration: none;
  color: rgb(0, 0, 0);  
  transition: color 0.3s ease;
  color: white;
  font-family:'Noto Serif TC', serif;
}

a:hover{
	color: tomato;
}

ul#law-list{
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  transform: none;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}
ul#law-list li{
  display: inline;
  padding: 3px;
  font-size: 12px;
  font-weight: 100;
}
#copyright{
	padding-top: 3px;
	font-size: 12px;
  font-weight: 100;
	color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
}
#menuToggle{
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;}

#menuToggle input{
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
	-webkit-touch-callout: none;
}

#menuToggle span{
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: rgb(84, 53, 0);
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 180px;
  margin: -50px 0 0 0;
  padding: 10px;
  padding-top: 40px;
  right: 0px;
  background-color: rgb(212, 171, 102, 0.8);
  border-radius: 30px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 3px 0;
  font-size: 20px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  #menu {
    transform: none;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
}

.content-background-lightgreen {
  margin: 0em 0em;
  padding-top: 0em 0em;
  background-color: rgb(250, 255, 250);
}
.content-wrapper {
  margin: 0em 2em;
  padding-top: 0em 0em;
}

.flex-container {
  display: flex;
  flex-direction: row;
  }

.flexitem {
  width: 100%;
  margin: 5px;
  justify-content: center;
  align-items: center;
  padding:10px;
}

.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
