h1 {
  text-align: center;
}

p {
  text-align: center;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
	margin: 0;
	padding: 0;
	background: rgb(217, 238, 225);
	font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
	font-size: 22px;
	overflow-x: hidden;
}
.circle {
	border-radius: 50%;
}
