h1 {
  text-align: center;
}

p {
  text-align: center;
}

body {
	margin: 0;
	padding: 0;
	background: rgb(217, 238, 225);
	color: #C7F0BB;
	font-family: 'Noto Sans';
	font-size: 22px;
	overflow-x: hidden;
}
