/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #8db27f;
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    color: #8db27f;
}

.article-bar {
    display: flex;
    justify-content: space-between;
}

.article {
    border: 1px solid #8db27f;
    padding: 10px;
    width: 30%;
}

button {
    background-color: #8db27f;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #8db27f;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
